<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to the Henoo back-end test home page</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<h1>Welcome to the Henoo back-end test home page</h1>
		<h3><a th:href="@{/register}">Register</a></h3>
		<h3><a th:href="@{/login}">Login</a></h3>
		<h3><a th:href="@{/users}">List of Users</a></h3>
		<h3><a th:href="@{/products}">List of all Products</a></h3>
		<h3><a th:href="@{/product_creation}">Create a new Product</a></h3>
		<h3><a th:href="@{/modify_product}">Modify or delete a Product</a></h3>
	</div>
</body>
</html>