<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Products</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h1>List of all Products</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Price in Euro</th>
					<th>Creation Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${listProducts}">
					<td th:text="${product.id}">Product ID</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.price}">Price in Euro</td>
					<td th:text="${product.creation_date}">Creation Date</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3><a th:href="@{/products_by_date}">Sort Products by creation date</a></h3>
	</div>
</div>
</body>
</html>